@font-face {
    font-family: abc;
    src: url(fonts/6479b994523a6279a03d4da7_Siaga-Bold.woff2);
}

@font-face {
    font-family: xyz;
    src: url(fonts/64eda5e5fdd71ddd3dbbf609_apercu-regular.woff2);
}

@font-face {
    font-family: pqr;
    src: url(fonts/64eda5e581cb8e58ed55dea5_apercu-medium.woff2);
}

/* boilerplate of css  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* added nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 4%;
}

.items {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .n{
    width: 40px;
    height: 40px;
    animation-name: move;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.items h4 {
    font-family: xyz;
    border: 1px solid black;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 400;
}


.items h4:hover {
    color: white;
    background-color: black;
    font-family: xyz;
    border: 1px solid black;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 500;
}

#items_h4 {
    text-decoration: underline;
    font-weight: 550;
}

@keyframes move {
    from {
        rotate: 0;
    }

    to {
        rotate: 360deg;
    }
}

/*  added style of page1 */
.page1 {
    width: 100%;
    height: 60%;
    /* background-color: #c57805; */
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    align-items: center;
}

.page1_left {
    width: 40%;
    height: 100%;
    /* background-color: #edcba9; */
}

.page1_right {
    margin-top: 17%;
    width: 20%;
    height: 30%;
    /* background-color: #edcba9; */
}

.page1_left>h1 {
    font-size: 6em;
    font-family: abc;
    line-height: 1.2em;
}

.page1_left>h1>svg {
    width: 60px;
    height: 60px;
    animation-name: move;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.page1_right>h4 {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.2em;
    padding-bottom: 5%;
}

.page1_right>button {
    font-family: xyz;
    border: none;
    padding: 12px 16px;
    border-radius: 10px;
    font-weight: 400;
}
